* {
  box-sizing: border-box;
}

:root {
  --color-primary: #FFFFFF;
  --color-bg: #343D4B;
  --color-text-placeholder: #3f4958;;
  --color-primary-inverted: #000000;
  --color-bg-card: #272E37;
  --color-bg-main: #222831;
  --gradient: linear-gradient(91deg, rgba(144, 217, 224, 0.90) 0.2%, rgba(84, 96, 230, 0.90) 100%); 
  --gradient-inverted: linear-gradient(256deg, rgba(144, 217, 224, 0.90) 9.04%, rgba(84, 96, 230, 0.90) 100%);
  --font: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--color-primary);
  background-color: var(--color-bg);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}